<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Record Update Window</h1>
    <form method="get" action="/updateres">
        Original Task <input type="text" name="ogtask" value="<%=records[0].task%>" readonly/><br/> 
        New Task <input type="text" name="gtask" placeholder="Add new task"/><br/>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>