body{
    background-color: lavender;
    background-position: 100% 100%;
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 30;
}
div{
    
    text-align:initial;
    color: rgb(222, 37, 92);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 7px solid white;  
    outline: 10px solid rgb(222, 37, 92);  
    border-radius: 10px;  
    font-size: 25px;  
    font-weight:bolder;  
    margin: 100px;  
    padding: 130px;  
    outline-offset: 1.2em; 
    
}
.box1{
    position:absolute;
        TOP: 321px;
        LEFT:510px;
        padding: 6px 32px;
        
       
       
}
.box2{
    position:absolute;
        TOP: 370px;
        LEFT:510px;
        padding: 6px 32px;
       
}
.updt
{
   
    background-color:beige; 
    color: black; 
    border: 2px solid #000000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.updt:hover
{
     background-color: #f04872;
     color: white;
}